 
pre {
  border: none !important;
  padding: 0px !important;
  background-color: transparent !important; 
  height: 0px !important; 
}
        
table.alignment {
    border-collapse: separate;
    border-spacing: 0.25em;
    text-align:left;
    width:1200px;
    table-layout: fixed;
    display:none;

}

table.alignment tr {
    border: 0;
}

table.alignment th, table.alignment td {
    border: 1px solid #d3d3d3;
    padding: 0.5em;

}

table.alignment th {
    border-width: 2px;
    padding: 0 1em;
    text-align: center;
}

table.alignment td.gap {
    border: 0;
    text-align: center;
}

table.alignment td.invariant {
    border-color: #80BB00
}

table.alignment td.variant {
    border-color: #ffa07a;
    background-color: #D8D8D8;
}

.yui3-menu a {
    color: inherit;
    font-weight: normal;
}

#result {
width:1000px;
text-align:center;}



