# Ignore everything
*

# But not these files...
!.gitignore
!.htaccess
!CollateTable.sql
!ManuscriptsTable.sql
!TempcollateTable.sql

!initialUpload
initialUpload/*
!initialUpload/.htaccess

!zoomImages
zoomImages/*
!zoomImages/.htaccess

!w
w/*
!w/extensions
!w/skins
w/extensions/*
w/skins/*
!w/extensions/collate
!w/extensions/newManuscript
!w/extensions/JBTEIToolbar
!w/extensions/TEITags
!w/skins/CbpTranscriptionEnhanced

!w/extensions/collate/*
!w/extensions/newManuscript/*
!w/extensions/JBTEIToolbar/*
!w/extensions/TEITags/*
!w/skins/CbpTranscriptionEnhanced/*

!w/extensions/collate/*/*
!w/extensions/newManuscript/*/*
!w/extensions/JBTEIToolbar/*/*
!w/extensions/TEITags/*/*
!w/skins/CbpTranscriptionEnhanced/*/*

!w/extensions/collate/*/*/*
!w/extensions/newManuscript/*/*/*
!w/extensions/JBTEIToolbar/*/*/*
!w/extensions/TEITags/*/*/*
!w/skins/CbpTranscriptionEnhanced/*/*/*




