# Ignore everything
*

# But not these files...
!.gitignore
!.htaccess
!README.md
!Sidebar.txt
!ManuscriptDesk.sql
!exampleConf.php

#first specify which folder you do not want ignored
!initialUpload
#after this, specify that you want to ignore everything in this folder
initialUpload/*
#make an exception for the file you want
!initialUpload/.htaccess

!zoomImages
zoomImages/*
!zoomImages/.htaccess

!initialStylometricAnalysis
initialStylometricAnalysis/*
!initialStylometricAnalysis/.htaccess

!w
w/*
!w/extensions
!w/skins
w/extensions/*
w/skins/*
!w/extensions/ManuscriptDeskBase
!w/extensions/Collate
!w/extensions/NewManuscript
!w/extensions/JBTEIToolbar
!w/extensions/TEITags
!w/extensions/SummaryPages
!w/extensions/StylometricAnalysis
!w/extensions/HelperScripts
!w/extensions/WikiEditor
!w/skins/CbpTranscriptionEnhanced

!w/extensions/ManuscriptDeskBase/*
!w/extensions/Collate/*
!w/extensions/NewManuscript/*
!w/extensions/JBTEIToolbar/*
!w/extensions/TEITags/*
!w/extensions/SummaryPages/*
!w/extensions/StylometricAnalysis/*
!w/extensions/HelperScripts/*
!w/extensions/WikiEditor/*
!w/skins/CbpTranscriptionEnhanced/*

!w/extensions/ManuscriptDeskBase/*/*
!w/extensions/Collate/*/*
!w/extensions/NewManuscript/*/*
!w/extensions/JBTEIToolbar/*/*
!w/extensions/TEITags/*/*
!w/extensions/SummaryPages/*/*
!w/extensions/StylometricAnalysis/*/*
!w/extensions/HelperScripts/*/*
!w/extensions/WikiEditor/*/*
!w/skins/CbpTranscriptionEnhanced/*/*

!w/extensions/ManuscriptDeskBase/*/*/*
!w/extensions/Collate/*/*/*
!w/extensions/NewManuscript/*/*/*
!w/extensions/JBTEIToolbar/*/*/*
!w/extensions/TEITags/*/*/*
!w/extensions/SummaryPages/*/*/*
!w/extensions/StylometricAnalysis/*/*/*
!w/extensions/HelperScripts/*/*/*
!w/extensions/WikiEditor/*/*/*
!w/skins/CbpTranscriptionEnhanced/*/*/*

!w/extensions/ManuscriptDeskBase/*/*/*/*
!w/extensions/Collate/*/*/*/*
!w/extensions/NewManuscript/*/*/*/*
!w/extensions/JBTEIToolbar/*/*/*/*
!w/extensions/TEITags/*/*/*/*
!w/extensions/SummaryPages/*/*/*/*
!w/extensions/StylometricAnalysis/*/*/*/*
!w/extensions/HelperScripts/*/*/*/*
!w/extensions/WikiEditor/*/*/*/*
!w/skins/CbpTranscriptionEnhanced/*/*/*/*

!w/extensions/StylometricAnalysis/*/*/*/*/*
!w/extensions/StylometricAnalysis/*/*/*/*/*/*
!w/extensions/StylometricAnalysis/*/*/*/*/*/*/*
!w/extensions/StylometricAnalysis/*/*/*/*/*/*/*/*
!w/extensions/StylometricAnalysis/*/*/*/*/*/*/*/*/*
!w/extensions/StylometricAnalysis/*/*/*/*/*/*/*/*/*/*
!w/extensions/StylometricAnalysis/*/*/*/*/*/*/*/*/*/*/*

#other things that should be ignored...
*.pyc