## http://www.mediawiki.org/wiki/Manual:Short_URL/Apache

# Enable the rewrite engine 
RewriteEngine On

#Make sure user is not already on https
#RewriteCond %{HTTPS} !on

#Automatically redirect to https
#RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}

# Short url for wiki pages
RewriteRule ^md/(.+)$ /w/index.php?title=$1 [L,QSA]

# Redirect / to Main Page. Comment when maintenance
RewriteRule ^/*$ /w/index.php [L]

#Uncomment when maintenance. You need a 503.php file in the web root that returns statuscode 503 with maintance information
#RewriteCond %{REQUEST_URI} !^/503.php [NC]
#RewriteRule .* /503.php [R,L]
#RewriteCond %{REMOTE_ADDR} !^00\.00\.00\.00 #own IP here

