/**
 * This file is part of the ManuscriptDesk (github.com/akvankorlaar/manuscriptdesk)
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 * 
 * @package MediaWiki
 * @subpackage Extensions
 * @author Arent van Korlaar <akvankorlaar 'at' gmail 'dot' com> 
 * @copyright 2015 Arent van Korlaar
 */

#button {
  width: 15em;  
  height: 1.5em;
  cursor: pointer;
  background-color: #F2FCFF;
}

#button-active {
  width: 15em;  
  height: 1.5em;
  cursor: pointer;
  background-color: white; 
}

@media screen and (min-width: 1300px) {
  #button {
    width: 20em;  

  }

  #button-active {
    width: 20em;  

  }
}

@media screen and (min-width: 1835px) {
  #button {
    width: 30em;  

  }

  #button-active {
    width: 30em;  

  }
}

.letter-button {
  cursor: pointer;
  background-color: #F2FCFF;
}

.letter-button-active {
  cursor: pointer;
  position: relative;
  background-color: white;
  border: transparent;
  width: 25px;
  height: 25px;
}

.letter-div-active {
  background-color: white; 
  border-width: 2px;
  border-color: lightgray;
  border-style: solid;
  border-bottom: transparent; 
  width: 60px; 
}

.letter-button-initial {
  cursor: pointer;
  position: relative;
  background-color: #F2FCFF;
  border: transparent;
  width: 25px;
  height: 25px;
}

.letter-div-initial {
  background-color: #F2FCFF; 
  border-width: 2px;
  border-color: lightgray;
  border-style: solid;
  border-bottom: transparent; 
  width: 60px;
}

.button-transparent {
  background: #F2FCFF;
  border: none; 
  padding: 0;
  font: inherit;
  color: #black; 
  cursor: pointer;
  font-weight: bold; 
}

.userpage-transparent {
  background-color: #F2FCFF;
}

.button-transparent:hover {
  text-decoration: underline; 
}

.userpage-collectionlist {
  background: none;
  border: none; 
  padding: 0;
  font: inherit;
  color: #2E5663; 
  cursor: pointer;
}

.userpage-collectionlist:hover {
  text-decoration: underline; 
}

/*table styles */
/*pre overrides earlier mediawiki CSS, and is needed for correct table display.*/  
pre {
  border: none !important;
  padding: 0px !important;
  background-color: transparent !important; 
  font-family: sans-serif, Georgia, Serif;
}

td {
  border-bottom: 1px solid #D3D3D3;
}

.td-long {
  width: 50%;
}

.td-three {
  width: 33%;
}

.td-four {
  width: 20%;
}

table#metatable { 
  width:100%; 
  font-size: 100%;
}

table#metatable th { 
  vertical-align: top;
  text-align: right;
  background-color: #f7f7f7; 
  width: 25%;
}

table#metatable td { 
  vertical-align: top;
  width: 25%;
  border-bottom: none; 
}

h2 {
  margin-bottom: 0em;
}

.summarypage-form-default{
  display: block;
  height: 50px; 
  width: 1836px; 
}
