@CHARSET "UTF-8";

/*04 Sept 2015: Small layout changes @Arent van Korlaar*/

#main_body {
  margin: 0; 
  padding: 0; 
}

.z_object_style {
  display:block; 
  margin: auto; 
  width: 100%; 
  height: 90%; 
}

.z_embed_style { 
  width: 100%; 
  height: 90%; 
}