/**
 * This file is part of the Manuscript Desk (github.com/akvankorlaar/manuscriptdesk)
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 * 
 * @package MediaWiki
 * @subpackage Extensions
 * @author Arent van Korlaar <akvankorlaar 'at' gmail 'dot' com> 
 * @copyright 2015 Arent van Korlaar
 */

.javascriptloader{
  display: none;
}

.javascripterror {
  font-size: larger;
  color: #cc0000;
}

.manuscriptdesk-form {
  overflow-y: auto;  
  position: relative;
  width: 100%;
}

.manuscriptdesk-form-two {
  position: relative;
  display: inline-block;
}

.manuscriptdesk-submitbutton {
  width: 30em; 
  height: 1.5em; 
  cursor: pointer;
  background-color: #F2FCFF;
}

.mw-htmlform-submit {
  width: 30em;  
  height: 1.5em;
  cursor: pointer;
  background-color: #F2FCFF;
}

table#page-metatable { 
  width:100%; 
  font-size: 100%;
}

table#page-metatable th { 
  vertical-align: top;
  text-align: right;
  background-color: #f7f7f7; 
  width: 25%;
}

table#page-metatable td { 
  vertical-align: top; 
  width: 25%;
}
